<html>

<!-- 3.4.5 -->
<!-- додавання кнопки корзини -->

<head>
  <meta charset="UTF-8">
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <header>
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <h1 v-text="sitename"></h1>
          <p>Ласкаво просимо {{fullName}} у {{sitename}}</p>
        </div>
        <div class="nav navbar-nav navbar-right cart">
          <!-- 3) додаємо кнопку -->
          <button type="button" class="btn btn-default btn-lg"
                  v-on:click="showCheckout">
            <span class="glyphicon glyphicon-shopping-cart">
              {{ cartItemCount }}
            </span>
            Checkout
          </button>
          <div class="form-group">
            <div class="col-md-6 boxes">
              <input
               type="checkbox"
               id="prod-ids-checkbox"
               value="false"
               v-model="showCartProductsIds"
               v-on:click="onCartCheckboxClick"
               />
              <label for="prod-ids-checkbox">показати id доданих товарів</label>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- 4) додаємо директиву v-if -->
      <div v-if="showCartProductsIds" class="row">
        <div class="col-md-2 col-md-offset-1">
          <h4>ID доданих товарів:</h4>
          <div v-if="cartItemCount == 0">
            <p>Ви ще не додали товарів в корзину!</p>
          </div>
          <div v-if="cartItemCount > 0" v-for="productId in cart">
            <p>{{ productId }}</p>
          </div>
        </div>
      </div>
      <div v-if="showProduct" class="row">
        <div class="col-md-2 col-md-offset-1">
          <figure>
            <img v-bind:src="product.image">
          </figure>
        </div>
        <div class="col-md-6 col-md-offset-2 description">
          <h1>{{ product.title }}</h1>
          <p  v-html="product.description"></p>
          <p  class="price">
            {{ product.price | formatPrice | inToOut }}
          </p>
          <button class="btn btn-primary active"
                  v-on:click="addToCart"
                  v-if="canAddToCart">Add to cart</button>
          <button class="btn btn-primary disabled" v-else>Add to cart</button>
          <button class="btn btn-danger active"
                  v-on:click="clearCart"
                  v-if="canClearCart">Clear</button>
          <button class="btn btn-danger disabled" v-else>Clear</button>
        </div>
      </div>
      <!-- 5) додаємо блок з директивою v-else -->
      <div v-else="showProduct">
      </div>
    </main>
  </div>

  <script type="text/javascript">
    var webstore = new Vue({
      el: '#app',
      data: {
        sitename: 'Vue.js Pet Depot',
        product: {
          id: 1001,
          title: 'Cat Food, 25lb bag',
          description: "A 25 pound bag of <em>irresistible</em>," +
                       "organic goodness for your cat",
          price: 2000,
          image: "assets/images/product-fullsize.png",
          availableInventory: 5
        },
        cart: [],
        // 1) властивість, що відповідає за відображення сторінки товару
        showProduct: true,
        showCartProductsIds: false,
        firstName: 'Summer',
        lastName: 'Winters',
        prefix: 'Ms',
        emal: 'sw@vue.js',
        password: '123456'
      },
      filters: {
        formatPrice: function(price) {
          if(!parseInt(price)) { return ""; }
          if(price > 99999) {
            var priceString = (price / 100).toFixed(2);
            var priceArray = priceString.split("").reverse();
            var index = 3;
            while( priceArray.length > index + 3) {
              priceArray.splice(index+3, 0, ",");
              index += 4;
            }
            return "$" + priceArray.reverse().join("");
          } else {
            return "$" + (price / 100).toFixed(2);
          }
        },
        inToOut: function(s) {
          return s
        }
      },
      methods: {
        addToCart() {
          this.cart.push( this.product.id );
        },
        clearCart() {
          this.cart = [];
        },
        showCheckout() {
          this.showProduct = this.showProduct ? false : true;
        },
        canClearCart: function() {
          return this.cart.length > 0;
        },
        onCartCheckboxClick() {
          this.showCartProductsIds = !this.showCartProductsIds;
        }
      },
      computed: {
        fullName: function() {
          return [this.firstName, this.lastName].join(' ');
        },
        fullNameWithPrefix: function() {
          return [this.prefix + '.', this.lastName].join(' ');
        },
        cartItemCount: function() {
          return this.cart.length || '';
        },
        canAddToCart: function() {
          return this.product.availableInventory > this.cartItemCount;
        }
      }
    });
  </script>

</body>

</html>
