<html>

<!-- 5.3 -->
<!-- сортування записів -->

<head>
  <meta charset="UTF-8">
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <header>
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <h1 v-text="sitename"></h1>
          <p>Ласкаво просимо {{fullName}} у {{sitename}}</p>
          <p>Сьогодні у магазині загалом {{productsCount.length}} товарів, з яких можна придбати {{availableProductsCount}} товарів</p>
          <p>Загальна кількість одиниць товарів: {{totalProductsCount}}</p>
        </div>
        <div class="nav navbar-nav navbar-right cart">
          <button type="button" class="btn btn-default btn-lg"
                  v-on:click="showCheckout">
            <span class="glyphicon glyphicon-shopping-cart">
              {{ cartItemCount }}
            </span>
            Checkout
          </button>
        </div>
      </div>
    </header>
    <main>
      <div v-if="showProduct">
        <!-- 2) вказуємо обчислювану властивість замість поля -->
        <div v-for="product in sortedProducts">
          <div class="row product">
            <div class="col-md-2 col-md-offset-1">
              <figure>
                <img v-bind:src="product.image" width="200px">
              </figure>
            </div>
            <div class="col-md-6 col-md-offset-2 description">
              <h1>{{ product.title }}</h1>
              <p  v-html="product.description"></p>
              <p  class="price">
                {{ product.price | formatPrice | inToOut }}
              </p>
              <!-- - ->
              <p  class="price">
                {{ canAddToCart(product) }}; {{ product.availableInventory }};
                {{ product.id }}, {{ cartCount(product.id) }}
              </p>
              <!- - -->
              <button class="btn btn-primary active"
                      v-on:click="addToCart(product)"
                      v-if="canAddToCart(product)">Add to cart</button>
              <button class="btn btn-primary disabled" v-else>Add to cart</button>
              <span class="inventory-message"
                    v-if="product.availableInventory - cartCount(product.id) === 0">
                Товар закінчився!
              </span>
              <span class="inventory-message"
                    v-else-if="product.availableInventory - cartCount(product.id) < 5">
                Залишилось {{product.availableInventory - cartCount(product.id)}} од.!
              </span>
              <span class="inventory-message" v-else>
                Додати у корзину!
              </span>
              <div class="rating">
                <span v-bind:class="{'rating-active': checkRating(i, product)}"
                      v-for="i in 5">☆</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else="showProduct">
        <div class="col-md-6">
          <strong>First Name:</strong>
          <input v-model.trim="order.firstName" class="form-control">
        </div>
        <div class="col-md-6">
          <strong>Last Name:</strong>
          <input v-model.trim="order.lastName" class="form-control">
        </div>
        <div class="form-group">
          <div class="col-md-12"><strong>Address:</strong></div>
          <div class="col-md-12">
            <input v-model.trim.lazy="order.address" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12"><strong>City:</strong></div>
          <div class="col-md-12">
            <input v-model.lazy="order.city" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2">
            <strong>State:</strong>
            <select v-model="order.state" class="form-control">
              <option disaЬled value="">State</option>
              <option v-for="(state,key) in states"
                      v-bind:value="state">{{key}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            <strong>Zip / Postal Code:</strong>
            <input v-model.number="order.zip" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 boxes">
            <input type="checkbox" id="gift" value="true"
                   v-bind:true-value="order.sendGift"
                   v-bind:false-value="order.dontSendGift"
                   v-model="order.gift">
            <label for="gift">відправити як подарунок</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 boxes">
            <input type="radio" id="home"
                   v-bind:value="order.home"
                   v-model="order.method">
            <label for="home">Home</label>
            <input type="radio" id="business"
                   v-bind:value="order.business"
                   v-model="order.method">
            <label for="business">Business</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary submit"
                    v-on:click="submitForm">Place Order</button>
          </div>
        </div>
        <div class="col-md-12 verify">
          <pre>
            First Name: {{order.firstName}}
             Last Name: {{order.lastName}}
               Address: {{order.address}}
                  City: {{order.city}}
                   Zip: {{typeof(order.zip)}}
                 State: {{order.state}}
                  Gift: {{order.gift}}
                Method: {{order.method}}
          </pre>
        </div>
      </div>
    </main>
  </div>

  <script type="text/javascript">
    var webstore = new Vue({
      el: '#app',
      data: {
        sitename: 'Vue.js Pet Depot',
        showProduct: true,
        products: [
          {
            id: 1001,
            title: 'Cat Food, 25lb bag',
            description: "A 25 pound bag of <em>irresistible</em>," +
                         "organic goodness for your cat",
            price: 2000,
            image: "assets/images/product-fullsize.png",
            availableInventory: 10,
            rating: 3
          },
          {
            id: 1002,
            title: 'Yarn',
            description: "Yarn your cat can play with for a very " +
                         "<strong>long</strong> time!",
            price: 299,
            image: "assets/images/yarn.jpg",
            availableInventory: 7,
            rating: 1
          },
          {
            id: 1004,
            title: "Cat House",
            description: "A place for your cat to play!",
            price: 799,
            image: "assets/images/cat-house.jpg",
            availableInventory: 11,
            rating: 5
          }
        ],
        order: {
          firstName: '',
          lastName: '',
          address: '',
          city: '',
          zip: '',
          state: '',
          gift: 'Відправити у подарунковій упаковці.',
          sendGift: 'Відправити у подарунковій упаковці.',
          dontSendGift: 'Відправити у звичайній упаковці.',
          method: 'Домашня адреса',
          home: 'Домашня адреса',
          business: 'Робоча адреса'
        },
        states: {
          AL: 'Alabama',
          AR: 'Arizona',
          CA: 'California',
          NV: 'Nevada'
        },
        cart: [],
        firstName: 'Summer',
        lastName: 'Winters',
        prefix: 'Ms',
        emal: 'sw@vue.js',
        password: '123456'
      },
      filters: {
        formatPrice: function(price) {
          if(!parseInt(price)) { return ""; }
          if(price > 99999) {
            var priceString = (price / 100).toFixed(2);
            var priceArray = priceString.split("").reverse();
            var index = 3;
            while( priceArray.length > index + 3) {
              priceArray.splice(index+3, 0, ",");
              index += 4;
            }
            return "$" + priceArray.reverse().join("");
          } else {
            return "$" + (price / 100).toFixed(2);
          }
        },
        inToOut: function(s) {
          return s
        }
      },
      methods: {
        addToCart(aProduct) {
          this.cart.push( aProduct.id );
        },
        showCheckout() {
          this.showProduct = this.showProduct ? false : true;
        },
        submitForm() {
          alert('OK!');
        },
        checkRating(n, myProduct) {
          return myProduct.rating - n >= 0;
        },
        canAddToCart: function(aProduct) {
          return aProduct.availableInventory > this.cartCount(aProduct.id);
        },
        cartCount(id) {
          let count = 0;
          for( var i = 0; i < this.cart.length; i++ ) {
            if( this.cart[i] === id ) {
              count++;
            }
          }
          return count;
        }
      },
      computed: {
        fullName: function() {
          return [this.firstName, this.lastName].join(' ');
        },
        fullNameWithPrefix: function() {
          return [this.prefix + '.', this.lastName].join(' ');
        },
        cartItemCount: function() {
          return this.cart.length || '';
        },
        // 1) додаємо нову обчислювану властивість
        sortedProducts() {
          if( this.products.length > 0 ) {
            let productsArray = this.products.slice(0);
            function compare(a, b) {
              if(a.title.toLowerCase() < b.title.toLowerCase())
                return -1;
              if(a.title.toLowerCase() > b.title.toLowerCase())
                return 1;
              return 0;
            }
            return productsArray.sort(compare);
          }
        },
        productsCount: function() {
          let productsCount = [];
          const products = this.sortedProducts;
          for (let i = 0; i < products.length; i++) {
            const product = products[i];
            productsCount.push({
              title: product.title,
              count: product.availableInventory
            });
          }
          return productsCount;
        },
        availableProductsCount() {
          return this.totalProductsCount - this.cart.length;
        },
        totalProductsCount() {
          let count = 0;
          for (let i = 0; i < this.productsCount.length; i++) {
            count += this.productsCount[i].count;
          }
          return count;
        }
      }
    });
  </script>

</body>

</html>
